.example-full-width {
  width: 100%;
}

.titulo-card{
  color: #881200;
  font-size: 24px;
}

.btn-login{
  margin: 0px 10px;
  background-color: #881200;
  color: #ffffff;
  width: 140px;
  height: 40px;
}

.btn-cancel{
  margin: 0px 10px;
  background-color: #ffffff;
  color: #c71313;
  width: 140px;
  height: 40px;
}
