

.mat-toolbar-single-row{
  height: 98px;
  background-color: rgba(249, 138, 139, 0.16) ;
  border-radius: 5px;

}

.logo{
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.personIcon{
  cursor: pointer;
  padding-left: 85px;
}


