<div class="grid-container">
    <div class="titulo">Contato</div>
    <div style="text-align: center;"><img src="../../../assets/normal_line.svg"></div>
    <div style="text-align: center;"><img class="espaco" src="../../../assets/espaco.png"> <img class="prefeitura"
            src="../../../assets/prefeitura.png"></div>
    <div class="contatos">
        TELECENTRO ESPAÇO DA OPORTUNIDADE
        <br>
        <img src="../../../assets/fone.svg">Telefone: (62) 3902-2034/ 3902-2626
        <br>
        Endereço: Av. Senador José Lourenço Dias, esquina com Av. Goiás, Anápolis - GO
    </div>


</div>