<div class="grid-container">
    <div class="titulo">Quem Somos</div>
    <div style="text-align: center;"><img src="../../../assets/normal_line.svg"></div>

    <div class="subtitulo"> &nbsp;&nbsp;&nbsp;&nbsp; Este trabalho foi realizado pelo Grupo 1 da máteria de Prática
        Interdisciplinar de
        Desenvolvimento de Software do curso de sistemas de informação da Universidade Estadual de Goiás Campus de
        Ciências Exatas e Tecnológicas Henrique Santilo - Anápolis - GO.</div>

    <div class="subtitulo" style="padding-top: 89px;"> <strong>Integrantes:</strong> Gabriel de Souza, Milena Russo e
        Rhelry Alves.
        <br>
        <br>
        <strong>Orientador:</strong> Prof. Márcio Giovane.
    </div>
    <br>
    <br>

    <div class="titulo2">Agradecimentos</div>
    <br>
    <br>

    <div class="subtitulo"> &nbsp;&nbsp;&nbsp;&nbsp;Gostariamos de agradecer pelo íncrivel suporte do nosso colega de
        curso Marcelo Victor, por ter nos ajudado no desenvolvimento do trabalho e fazer esse projeto acontecer.
        Obrigado de coração!
    </div>

    

</div>

    <div class="bottom">
    
    </div> <img class="spectro" src="../../../assets/espectro.png">

