<div class="grid-container">
    <div class="titulo">Bem vindo à Plataforma Concierge</div>
    <div style="text-align: center;"><img src="../../../assets/normal_line.svg"></div>

    <div class="subtitulo">Matriculas e acompanhamento de cursos profissionalisantes para o Mercado de Trabalho</div>
    <div class="">
        <div class="card">
            <div class="titulo2">Objetivo</div>
            <div class="subtitulo2"> A plataforma concierge traz para você um sistema de matricula e acompanhamento
                totalmente online dos cursos profissionalizantes oferecidos pela prefeitura de Anápolis.

            </div>
            <div  class="subtitulo2">E o melhor de tudo: Totalmente gratuito!</div>
        </div>

        <div class="card">
            <div class="titulo2">Aqui você pode:</div>
            <div class="subtitulo2"> Visualizar os cursos oferecidos pela Prefeitura de Anápolis. <span class="link" (click)="goToCurso()">Clique aqui!</span></div>
            <div class="subtitulo2">Matricular em turmas disponíveis. <span class="link" (click)="goToTurmas()" >Clique aqui!</span></div>
            <!-- <div class="subtitulo2">Acompanhar sua matrícula. <span class="link">Clique aqui!</span></div>
            <div class="subtitulo2">Acompanhar sua frequência e suas notas. <span class="link">Clique aqui!</span></div> -->
            
        </div>
    </div>
</div>